<%= turbo_stream.replace "newsletter-form" do %>
  <div class="newsletter-success">
    <p class="newsletter-success__icon" aria-hidden="true">✓</p>
    <p class="newsletter-success__heading">You're in.</p>
    <p class="newsletter-success__message">
      Thanks for subscribing. We'll be in touch with new roasts and updates.
    </p>
  </div>
<% end %>
